In [34]:
import pandas as pd
import requests
from tqdm import tqdm

In [3]:
df_by_year=pd.read_csv('https://nccs-data.urban.org/data/core/2015/coreco.core2015co.csv', sep=',')

/tikal/ji/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,2,3,4,6,9,12,14,20,22,29,30,31,73,87,95,102,120,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df_selected=df_by_year.sample(round(len(df_by_year)/2))[['EIN', 'NTEE1']]

In [17]:
df_2015_irs=pd.read_json('https://s3.amazonaws.com/irs-form-990/index_2015.json')

In [35]:
df_index_2015=pd.DataFrame()
for index in tqdm(df_2015_irs.index):
    df_index_2015=pd.concat([df_index_2015, pd.DataFrame.from_dict(df_2015_irs.loc[1, 'Filings2015'], orient='index').T])

100%|██████████| 261034/261034 [1:21:24<00:00, 53.44it/s]

In [22]:
df_index_2015

                                              Filings2015
0       {'EIN': '390963472', 'TaxPeriod': '201412', 'D...
1       {'EIN': '043575807', 'TaxPeriod': '201506', 'D...
2       {'EIN': '942796496', 'TaxPeriod': '201412', 'D...
3       {'EIN': '592856392', 'TaxPeriod': '201506', 'D...
4       {'EIN': '953006805', 'TaxPeriod': '201506', 'D...
5       {'EIN': '270964918', 'TaxPeriod': '201412', 'D...
6       {'EIN': '752772633', 'TaxPeriod': '201412', 'D...
7       {'EIN': '042488505', 'TaxPeriod': '201412', 'D...
8       {'EIN': '262082745', 'TaxPeriod': '201412', 'D...
9       {'EIN': '231672348', 'TaxPeriod': '201412', 'D...
10      {'EIN': '352321648', 'TaxPeriod': '201412', 'D...
11      {'EIN': '541083954', 'TaxPeriod': '201411', 'D...
12      {'EIN': '770576645', 'TaxPeriod': '201405', 'D...
13      {'EIN': '200771894', 'TaxPeriod': '201412', 'D...
14      {'EIN': '830333159', 'TaxPeriod': '201410', 'D...
15      {'EIN': '911179729', 'TaxPeriod': '201506', 'D...
16      {'EIN': '550681531', 'TaxPeriod': '201503', 'D...
17      {'EIN': '231352605', 'TaxPeriod': '201412', 'D...
18      {'EIN': '746104619', 'TaxPeriod': '201506', 'D...
19      {'EIN': '753109570', 'TaxPeriod': '201412', 'D...
20      {'EIN': '112496305', 'TaxPeriod': '201412', 'D...
21      {'EIN': '272576020', 'TaxPeriod': '201504', 'D...
22      {'EIN': '870683277', 'TaxPeriod': '201409', 'D...
23      {'EIN': '911175938', 'TaxPeriod': '201412', 'D...
24      {'EIN': '131762453', 'TaxPeriod': '201412', 'D...
25      {'EIN': '900642227', 'TaxPeriod': '201412', 'D...
26      {'EIN': '208237424', 'TaxPeriod': '201412', 'D...
27      {'EIN': '431899269', 'TaxPeriod': '201412', 'D...
28      {'EIN': '391686673', 'TaxPeriod': '201412', 'D...
29      {'EIN': '260875725', 'TaxPeriod': '201412', 'D...
...                                                   ...
261004  {'EIN': '262295937', 'TaxPeriod': '201503', 'D...
261005  {'EIN': '830320017', 'TaxPeriod': '201412', 'D...
261006  {'EIN': '741828398', 'TaxPeriod': '201412', 'D...
261007  {'EIN': '800581978', 'TaxPeriod': '201412', 'D...
261008  {'EIN': '237440884', 'TaxPeriod': '201412', 'D...
261009  {'EIN': '460496569', 'TaxPeriod': '201412', 'D...
261010  {'EIN': '205458078', 'TaxPeriod': '201506', 'D...
261011  {'EIN': '260190703', 'TaxPeriod': '201506', 'D...
261012  {'EIN': '391600686', 'TaxPeriod': '201506', 'D...
261013  {'EIN': '611313872', 'TaxPeriod': '201412', 'D...
261014  {'EIN': '320132913', 'TaxPeriod': '201506', 'D...
261015  {'EIN': '396044461', 'TaxPeriod': '201503', 'D...
261016  {'EIN': '942678810', 'TaxPeriod': '201506', 'D...
261017  {'EIN': '261301336', 'TaxPeriod': '201502', 'D...
261018  {'EIN': '371708065', 'TaxPeriod': '201506', 'D...
261019  {'EIN': '465615025', 'TaxPeriod': '201506', 'D...
261020  {'EIN': '942902803', 'TaxPeriod': '201506', 'D...
261021  {'EIN': '311713878', 'TaxPeriod': '201506', 'D...
261022  {'EIN': '810331594', 'TaxPeriod': '201412', 'D...
261023  {'EIN': '562439708', 'TaxPeriod': '201412', 'D...
261024  {'EIN': '510215240', 'TaxPeriod': '201506', 'D...
261025  {'EIN': '411494597', 'TaxPeriod': '201506', 'D...
261026  {'EIN': '272826779', 'TaxPeriod': '201406', 'D...
261027  {'EIN': '311132673', 'TaxPeriod': '201507', 'D...
261028  {'EIN': '751491337', 'TaxPeriod': '201506', 'D...
261029  {'EIN': '261916362', 'TaxPeriod': '201412', 'D...
261030  {'EIN': '391531523', 'TaxPeriod': '201412', 'D...
261031  {'EIN': '237429891', 'TaxPeriod': '201412', 'D...
261032  {'EIN': '330457856', 'TaxPeriod': '201506', 'D...
261033  {'EIN': '741235398', 'TaxPeriod': '201412', 'D...

[261034 rows x 1 columns]

In [30]:
df_2015_nccs.loc[[index for index in df_2015_nccs.index if df_2015_nccs.loc[index, 'EIN'] in df_2015_irs['EIN']]]

,EIN,TaxPeriod,DLN,FormType,URL,OrganizationName,SubmittedOn,ObjectId,LastUpdated
0,043575807,201506,93493239006195,990,https://s3.amazonaws.com/irs-form-990/20154239...,PLYMOUTH REGIONAL ECONOMIC DEVELOPMENT FOUNDAT...,2015-10-06,201542399349300619,2016-03-21T17:23:53

In [ ]:
pd.to_numeric()

In [9]:
df_irs_990_index=pd.DataFrame.from_items('https://s3.amazonaws.com/irs-form-990/index_2015.json')

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
for year in range(2011, 2016, 1):
    str(year)